<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//Apache//DTD Log4j 1.2//EN"
                                    "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration>
	<appender class="org.apache.log4j.ConsoleAppender" name="RootConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<category name="org.openkoala">
		<priority value="debug" />
	</category>
	
	
    <appender name="DruidDataSourceStat" class="org.apache.log4j.DailyRollingFileAppender">       
        <param name="File" value="F:/DruidDataSourceStatLoggerImpl.log" />         
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />         
        <layout class="org.apache.log4j.PatternLayout">       
         <param name="ConversionPattern"         
            value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />       
        </layout>         
    </appender>     
	  <logger name="com.alibaba.druid.pool" additivity="false">       
        <level value="debug" />         
        <appender-ref ref="RootConsoleAppender" />         
    </logger>     
     <logger name="com.alibaba.druid" additivity="false">       
        <level value="debug" />         
        <appender-ref ref="RootConsoleAppender" />         
    </logger>     
    
       <logger name="druid.sql" additivity="false">       
       <level value="info" />     
        <appender-ref ref="DruidDataSourceStat" />         
    </logger>   

	<root>
		<level value="info" />
		<appender-ref ref="RootConsoleAppender" />
	</root>

</log4j:configuration>